/* Global safety */
* {
    box-sizing: border-box;
}

.Task_Manager {
    padding: 10px;
    margin: 10px;

}

.Task_Manager #task_input {
    width: 70%;
    /* padding: 8px; */
    min-width: 50%;
    
}
.Adder > :first-child {
    margin-right: 8px;
}
.Task_Manager input {
    
    padding: 8px;
}

.Task_Manager button {
    padding: 8px;
    font-size: 14px;
    font-family: cursive;
}


#task_list_ul li {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    margin: 8px 0;
}
#task_list_ul li button {
    width: min-content;
}
@media (max-width: 480px) {
    #task_input {
        width: 65%;
    }

    button {
        font-size: 18px;
    }
}

.Task_Manager .Adder {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.done {
    text-decoration: line-through;
    opacity: 0.6;
}

.priority-High { color: red; }
.priority-Medium { color: orange; }
.priority-Low { color: green; }